@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #000000;

  --color-card: #ffffff;
  --color-card-foreground: #000000;

  --color-popover: #ffffff;
  --color-popover-foreground: #000000;

  --color-primary: #f97316;
  --color-primary-foreground: #ffffff;

  --color-secondary: #fff7ed;
  --color-secondary-foreground: #000000;

  --color-muted: #f3f4f6;
  --color-muted-foreground: #000000;

  --color-accent: #fff7ed;
  --color-accent-foreground: #000000;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;

  --color-border: #e5e7eb;
  --color-input: #e5e7eb;
  --color-ring: #fb923c;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --radius: 0.75rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

* {
  border-color: #e5e7eb;
}

::selection {
  background-color: #fdba74;
  color: #000;
}